extends common/header

block title
	title 自主開課平台 | 高大通識中心
block body
	body.index-body
		div.wrapper
			h1.title-admin
				a(href="/")
					|自主開課平台 | 高大通識中心
			include common/nav
			div.container
				div.courses.bounceInUp.animated
					if courses
						input(type="text", placeholder="搜尋課程...").textbox#listFilter
						ul
							each course in courses
								if course.old
									.course.old
										li
											div.courses-name
												=course.name
											div.courses-date
												i.fa.fa-calendar
													|  #{course.create_time}~#{course.end_time}
													span.courses-end-count
												div.courses-count= course.petition_people.length
													| 人#{verb}
												div.courses-references
													|推薦人：
													=course.creator.username
											div.clear
											div.courses-desc
												=course.desc
											div.courses-teacher
												=course.teacher
								else
									.course
										li
											div.courses-name
												=course.name
											if isRoot
												div.root-buttons-container
													button.btn.btn-danger.delete-course(data-id=course._id) 刪除
													if (course.stage === 2 || course.stage === 4)
														button.btn.btn-success
															a(href="/admin/nextstage/" + course._id) 可以#{nextVerb}了
											div.courses-date
												i.fa.fa-calendar
													|  #{course.create_time}~#{course.end_time}
													span.courses-end-count
												div.courses-count= course.petition_people.length
													| 人#{verb}
												div.courses-references
													|推薦人：
													=course.creator.username
											div.clear
											div.courses-desc
												=course.desc
											div.courses-teacher
												|推薦師資：
												=course.teacher
											if course.didIVote
												div.btn.btn-danger.anti-vote(data-id=course._id) 我要取消#{verb}
											else
												div.button.ok.vote(data-id=course._id) 我要#{verb}
					else
						div.courses-name 目前沒有#{verb}中的課程
		include common/footer
