extends common/header

block title
	title 課程推薦系統 | 高大通識中心
block body
	div.wrapper
		h1.title-admin
			a(href="/") 
				|課程推薦系統 | 高大通識中心
		include common/nav
		div.container
			div.courses.bounceInUp.animated
				ul
					each course in courses
						li
							div.courses-name
								=course.name
							div.root-buttons-container
								button.btn.btn-danger 刪除
								button.btn.btn-success 可以投票了
								button.btn.btn-Primary 可以開課了
							div.courses-date
								i.fa.fa-calendar
									=course.create_time
									span.courses-end-count
							div.courses-count= course.petition_people.length 
								| 人#{verb}
							div.courses-references 
								|推薦人：
								=course.creator
							div.courses-desc
								=course.desc
							div.button.ok#vote(data-id=course._id) 我要#{verb}
				//- ul
				//- 	li
				//- 		div.courses-name 人際關係與溝通
				//- 			if isRoot
				//- 				button.btn.btn-danger.pull-left.button-remove-course 刪除
				//- 		div.courses-date
				//- 			i.fa.fa-calendar
				//- 			|  2016-12-27
				//- 			span.courses-end-count (剩1個月15天到期)
				//- 		div.courses-count 3 人#{verb}
				//- 		div.courses-references 推薦人：noobTW
				//- 		div.courses-desc 本課程主要以心理學、社會學與諮商輔導的理論與知識為基礎，結合生活經驗與非正式觀察，探討現代人人際關係與溝通問題，藉以激發學生繼續研究的興趣與潛能，並應用所學於日常生活或相關工作領域。除人際關係的意義、要素、與研究方法等基本議題外，主要探討內容有：人際關係發展、性格與人際關係、社會文化、人際知覺與態度、情緒表達、人際衝突與溝通、職場人際關係、人際關係與行銷工作、肢體行為、文字傳達、說話藝術等溝通技巧。
				//- 		div.button.ok 我要#{verb}
				//- 	li
				//- 		div.courses-name 探索歐洲
				//- 		div.courses-date
				//- 			i.fa.fa-calendar
				//- 			|  2016-12-14(剩1個月15天到期)
				//- 		div.courses-count 2 人#{verb}
				//- 		div.courses-desc 此一課程探討歐洲從十五世紀到二十世紀對外擴張的歷史，分析歐洲海外貿易、探險、軍事征服與殖民活動，如何影響這段期間西方的政治經濟與文化的發展。此一課程討論的內容包括歐洲的興起；海外貿易；種族觀念的構成；殖民活動；啟蒙運動與文明位階觀念；歐洲人評比文明的標準；奴隸制度；工業化與帝國主義；歐洲對中國、印度與非洲的看法；時空觀念與度量和西方對亞洲的看法；技術與宰制；種族主義思想等。經由探討這段歷史，本課程將說明西方與非西方世界的互動如何形塑現代世界的演變。本課程為世界史通史課程，不需要歷史專業背景知識，各科系同學皆適合選修。
				//- 		div.button.disabled 已#{verb}